extend layout
block home
  img(src="/images/thandazile_circle_bw.png")
  a.section_link(name="home")
    | Hello There !
  p
    | Welcome to my little space on the interwebs.
    | In case you haven't already figured it out, my name is Thandazile Moyo.
    | I don't usually have much to say so this time I asked my husband to turn my thoughts to code and then to text!
  p
    | To find out more about me please click through to my about section.
    | I'm interested in chemicals and engineering, so if you are here to find out more about that then you are certainly in the right place.
    | I am currently studying but I am available to listen if you have any interesting projects and future employment opportunities, so please do not hesitate to contact me.
  p
    | If you are technically inclined it will please you to know that this site is built using the finest in web standards.
    | HTML5, JavaScript, NodeJS anyone?
block about
  a.section_link(name="about")
    | About
  p
    | I am a wife, mother and Chemical Engineer. 
    | I hold a BEng. in Chemical Engineering from the National University of Science and Technology(NUST) and I am currently working towards my MSc at the University of Cape Town(UCT).
  p
    | I live in Cape Town with my husband and we have a beautiful, insanely talkative daughter.
block work
  a.section_link(name="work")
    | Work
  p
    | My MSc project involves the Application of Analytical Techiques to study the surface Chemistry of minerals.
    | I should complete my MSc by the end of 2015.
block contact
  a.section_link(name="contact")
    | Contact
  p
    | Please feel free to get in touch with me if you are involved in any interesting Chemical Engineering projects.
  p
    | Reachable on the interwebs :
    span 
      span 
        a(href="http://twitter.com/thandazile_m") Twitter
block sidebar
  ul.links
    li
      a#home.active
        | Home
    li
      a#about
        | About
    li
      a#work
        | Work
    li
      a#contact
        | Contact
