!!!5
html
  head
    title #{title} - Thandazile Moyo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 THANDAZILE MOYO
      img
    section.left-content
      .home
        block home
      .about
        block about
      .work
        block work
      .contact
        block contact
    section.right-content
      .sidebar
        block sidebar
    footer
      p Copyright &copy; Thandazile Moyo
