!!!5
html
  head
    meta(charset="utf-8")
    //if lt IE 9
        script(src='/javascripts/ie_sucks.js')
    title Thandazile Moyo
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.min.js')
    script(src='/javascripts/ga.js')
    script(src='/javascripts/highlight.js')
    script(src='/javascripts/jquery.scrollto.min.js')
  body
    header
      h1 Thandazile Moyo
      span Wife \ Mother \ Engineer
    section.left-content
      .home
        block home
      .about
        block about
      .work
        block work
      .contact
        block contact
    section.right-content
      .sidebar
        block sidebar
    footer
      p Copyright &copy; Thandazile Moyo 2012
